:root {
    --card-width: 16rem;
}

figure.card {
    margin: 0.2rem 0;
    width: var(--card-width);
    z-index: 9000; /* cover sfa logo on the top left (crud buttons) */
    position: sticky;
}

.card figcaption {
    display: flex;
    width: 100%;
}

figure.card > figcaption.head * {
    font-size: 0.9rem;
}

figure.card > figcaption.head .value {
    margin-left: 0.666rem;
    margin-right: 1rem;
}

.card .register {
    display: flex;
    margin-left: 0.1rem;
    border-right: 0.1rem solid black;
    border-top: 0.1rem solid black;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    background-color: #222a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 66%;
}

.card figcaption .edit-buttons {
    display: flex;
    justify-content: space-between;
}

figure.card > div {
    background: #222a;
    border-radius: 0.2rem;
    width: 100%;
    padding: 0.5rem;
}

figure.card > ul {
    background: #222d;
    border-radius: 0.2rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

[data-type=num] {
    width: calc(var(--card-width)/4 - 1rem);
}
[data-type=str] {
    width: calc(var(--card-width)/2 - 1rem);
}
[data-type=text] {
    width: calc(var(--card-width) - 1rem);
}

/* Gebäude */

input:focus {
    outline: solid 2px #fff3;
}

input, textarea {
    background: #0009;
    border: none;
    font-size: 1rem;
    width: 100%;
}
